
.bridge-container {
    align-items: center;
    display: flex;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;

    @media screen and (max-width: $tablet-width) {
        height: 512px;
    }
}

.bridge {
    display: flex;
    flex-direction: column;
    width: 100%;

    .bridge-home {
        align-self: center;
        background-image: linear-gradient(to right, $bridge-gradient-start, $bridge-gradient-end);
        display: flex;
        height: 80px;
        width: 960px;

        &-stake {
          display: none
        }

        @media screen and (max-width: $tablet-width) {
            display: none
        }

        .bridge-home-container {
            background-color: $main-background-color;
            min-width: 60px;
            width: 9%;

            .home-logo-container {
                align-items: center;
                background-color: $bridge-logo-background-color;
                border-radius: 10px;
                border-bottom-right-radius: 0;
                display: flex;
                height: 100%;
                justify-content: center;
            }
        }

        .home-address-container {
            align-items: center;
            background-color: $main-background-color;
            border-bottom-left-radius: 10px;
            display: flex;
            width: 92%;

            .icon-wallet {
                padding: 20px;
            }
        }
    }

    .bridge-foreign {
        align-self: center;
        background-image: linear-gradient(to right, $bridge-gradient-start, $bridge-gradient-end);
        display: flex;
        height: 80px;
        width: 960px;

        &-stake {
          display: none
        }

        @media screen and (max-width: $tablet-width) {
            display: none
        }

        .bridge-foreign-container {
            background-color: $main-background-color;
            min-width: 60px;
            width: 9%;

            .foreign-logo-container {
                align-items: center;
                background-color: $bridge-gradient-end;
                border-radius: 10px;
                border-top-left-radius: 0;
                display: flex;
                height: 100%;
                justify-content: center;
            }
        }

        .foreign-address-container {
            align-items: center;
            background-color: $main-background-color;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: flex-end;
            text-align: right;
            width: 92%;

            .icon-wallet {
                padding: 20px;
            }
        }
    }

    .address-label {
        color: $primary-color;
        font-size: 12px;
    }

    .address-description {
        color: $primary-color;
        font-size: 16px;
        font-weight: 700;

        @media screen and (max-width: $tablet-width) {
            font-size: 9px;
        }
    }
    .bridge-transfer {
        height: $form-container-height;
        display: flex;
        justify-content: center;

        @media screen and (max-width: $tablet-width) {
            height: 389px;
        }

        .bridge-transfer-content {
            background-color: #FFFFFF;
            box-shadow: 0px 16px 110px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: $bridge-transfer-width;
            height: 380px;
            padding: 28px 10px;

            &-stake {
              border: 1px solid #E6ECF1;
              box-sizing: border-box;
              border-radius: 10px;
            }

            @media screen and (max-width: $tablet-width) {
                border-radius: 8px;
                flex-direction: column;
                max-width: 82%;
            }

            .bridge-transfer-title {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: #828282;
            }

            .bridge-select{
              display: flex;
              margin-top: 20px;
              justify-content: space-around;
              width: 100%;
            }

            .bridge-network-dropbtn {
              background-color: $primary-color;
              color: white;
              font-size: 12px;
              border: none;
              cursor: pointer;
              width: 200px;
              height: 30px;
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: $main-font-family;
              padding: 0 15px;

              span:nth-child(1) {
                margin-right: auto;
              }

              span:nth-child(2) {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }

              span:nth-child(3) {
                margin-left: auto;
                margin-right: 5px;
              }

              // span:nth-child(4) {
              //   margin-left: auto;
              // }
            }
            
            .bridge-network-dropdown {
              position: relative;
              display: inline-block;
            }

            .bridge-transfer-convert-icon {
              background-image: url('#{ $bridge-image-convert }');
              background-repeat: no-repeat;
              background-size: contain;
              justify-self: center;
              display: block;
              height: 12px;
              width: 24px;
            }

            .bridge-transfer-convert-icon-blue {
              background-image: url('#{ $bridge-image-convert-blue }');
              background-repeat: no-repeat;
              background-size: contain;
              display: block;
              height: 12px;
              width: 24px;
            }

            .bridge-transfer-arrow-down {
              background-image: url('#{ $bridge-image-arrown-down }');
              background-repeat: no-repeat;
              background-size: contain;
              display: block;
              height: 8px;
              width: 8px;
            }
            
            .bridge-network-dropdown-content {
              display: none;
              position: absolute;
              background-color: #E5E5E5;
              font-size: 12px;
              width: 200px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              cursor: pointer;
              z-index: 1;
              border-radius: 0 0 10px 10px;
            }
            
            .bridge-network-dropdown-content a {
              color: $primary-color;
              padding: 6px 16px;
              text-decoration: none;
              display: flex;
              height: 30px;                 
              justify-content: center;
              align-items: center;
              padding: 0px 15px;
              font-family: $main-font-family;

              span:nth-child(1) {
                margin-right: auto;
              }

              span:nth-child(2) {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }

              span:nth-child(3) {
                margin-left: auto;
              }
            }
            
            .bridge-network-dropdown-content a:hover {background-color: #f1f1f1}
            
            .bridge-network-dropdown:hover .bridge-network-dropdown-content {
              display: block;
            }
            
            .bridge-network-dropdown:hover .bridge-network-dropbtn {
              background-color: $primary-color-dark;
            }

            .bridge-token-dropbtn {
              background-color: $primary-color;
              color: white;
              font-size: 12px;
              border: none;
              cursor: pointer;
              width: 95px;
              height: 30px;
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0px 20px;
              position: relative;
              font-family: $main-font-family;

              span:nth-child(2) {
                position: absolute;
                right: 10px;
              }
            }
            
            .bridge-token-dropdown {
              position: relative;
              display: inline-block;
            }

            .bridge-token-arrow-down {
              background-image: url('#{ $bridge-image-arrown-down }');
              background-repeat: no-repeat;
              background-size: contain;
              display: block;
              height: 8px;
              width: 8px;
            }
            
            .bridge-token-dropdown-content {
              display: none;
              position: absolute;
              background-color: #E5E5E5;
              font-size: 12px;
              width: 100px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              cursor: pointer;
              z-index: 1;
              border-radius: 0 0 10px 10px;
            }
            
            .bridge-token-dropdown-content a {
              color: $primary-color;
              padding: 6px 16px;
              text-decoration: none;
              display: flex;
              height: 30px;                 
              justify-content: center;
              align-items: center;
              padding: 0px 20px;
            }
            
            .bridge-token-dropdown-content a:hover {background-color: #f1f1f1}
            
            .bridge-token-dropdown:hover .bridge-token-dropdown-content {
              display: block;
            }
            
            .bridge-token-dropdown:hover .bridge-token-dropbtn {
              background-color: $primary-color-dark;
            }

            .bridge-token-row {
              display: flex;
              justify-content: space-around;
              align-items: center;
              width: 100%;

              .bridge-token-arrow-convert {
                background-image: url('../images/themes/core/bridge/arrow-convert.svg');
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                height: 14px;
                width: 14px;
                cursor: pointer;
              }

              input {
                border-bottom: 1px solid #D6D6D6;
                color: $primary-color;
                background-color: #fff;
              }

              .bridge-token-row-right {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
  
                .zd-token-network-wrap {
                  display: flex;
                  background-color: #D6D6D6;
                  border-radius: 10px;
                  width: 54px;
                  height: 15px;
                  font-size: 12px;
                  color: #6772E5;
                  justify-content: space-around;
                  align-items: center;
                  padding: 2px;
  
                  .zd-token-network-ez{
                    background-image: url('../images/themes/core/bridge/zdnetwork.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: block;
                    height: 14px;
                    width: 14px;
                  }
  
                  .zd-token-network-bsc{
                    background-image: url('../images/themes/core/bridge/bscnetwork.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: block;
                    height: 14px;
                    width: 14px;
                  }
                }
  
                .zd-token-network-info {
                    background-image: url('../images/themes/core/bridge/info.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: block;
                    height: 14px;
                    width: 14px;
                    cursor: pointer;
                    margin-left: 5px;
                }
              }             
            }
            
            .bridge-token-input-wrap {
              margin-top: 60px;

            }

            .bridge-token-convert-wrap {
              margin-top: 30px;
            }

            .bridge-token-output-wrap {
              margin-top: 30px;
            }

            .bridge-token-fee {
              margin-top: 20px;
              font-style: italic;
              color: #AAAAAA;
              font-size: 12px;

              span:nth-child(1){
                margin-left: auto;
                margin-right: 30px;
              }

              span:nth-child(2){
                margin-right: 50px;
              }
            }

            .bridge-token-balance {
              margin-top: 10px;
              font-style: italic;
              color: #AAAAAA;
              font-size: 12px;

              >span:nth-child(1){
                margin-right: auto;
                margin-left: 23px;
              }

              span:nth-child(2){
                margin-right: 15px;
                margin-left: auto;
              }

              span:nth-child(3){
                margin-right: 40px;
              }
            }

            .bridge-token-btn-swap {
              margin-top: 30px;
              width: 202px;
              height: 40px;
              color: #fff;
              padding: 15px;
              background: $primary-color;
              border-radius: 20px;
              font-family: $main-font-family;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;

              &:hover{
                background: $primary-color-darker;
              }
            }

            .network-container-home {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                height: $network-container-height;
                justify-content: $network-container-justify-content;
                padding: $network-container-padding;
                width: 22%;

                &-stake {
                  width: 260px;
                }

                @media screen and (max-width: $tablet-width) {
                    align-items: center;
                    align-self: center;
                    height: 136px;
                    padding: 5px 0 5px 0;
                    width: auto;
                    justify-content: space-around;

                  &-stake {
                    width: auto;
                  }
                }
            }
            .network-container-foreign {
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                height: $network-container-height;
                justify-content: $network-container-justify-content;
                padding: $network-container-padding-foreign;
                width: 22%;

                &-stake {
                  width: 260px;
                }

                @media screen and (max-width: $tablet-width) {
                    align-items: center;
                    align-self: center;
                    height: 136px;
                    padding: 5px 0 5px 0;
                    width: auto;
                    justify-content: space-around;

                    &-stake {
                      width: auto;
                    }
                }
            }
            .bridge-network-data {
                align-items: center;
                cursor: pointer;
                display: flex;
            }
            .network-basic-label {
                font-size: $network-basic-label-font-size;
                color: $bridge-label-color;
            }
            .network-title {
                color: $bridge-label-color;
                display: block;
                font-size: 24px;
                font-weight: 700;
                &-stake {
                  font-style: normal;
                  font-weight: bold;
                  font-size: 20px;
                  line-height: 23px;
                }
            }
            .network-name {
                color: $bridge-label-color;
                display: block;
                font-size: 24px;
                font-weight: 700;
            }
            .text-left {
                text-align: left;

                @media screen and (max-width: $mobile-width) {
                    text-align: center;
                }
            }
            .text-right {
                text-align: right;

                @media screen and (max-width: $mobile-width) {
                    text-align: center;
                }
            }
            .network-id {
                color: $bridge-label-color;
                font-size: 14px;
                font-weight: 700;
                line-height: 26px;
            }
            .network-id-container {
                background-color: $bridge-link-color;
                border-radius: 3px;
                height: 26px;
                margin-left: 10px;
                text-align: center;
                width: 32px;
            }
            .network-balance {
                color: $bridge-balance-color;
                font-size: $network-basic-label-font-size;
                font-weight: 700;
            }
            .network-show-more {
                color: $bridge-link-color;
                font-size: 14px;
                font-weight: $network-show-more-font-weight;
              &:hover {
                text-decoration-line: underline;
              }
            }
            .info-icon {
              align-items: center;
              display: $info-icon-display;
              justify-content: center;
              path {
                fill: $bridge-link-color;
              }
            }
            .info-icon-left {
                margin-right: 10px;
            }
            .info-icon-right {
                margin-left: 10px;
            }
            .transfer-right {
                background-image: url('#{ $bridge-image-center-pointing-right }');
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (max-width: $tablet-width) {
                    background-image: none;
                }
            }
            .transfer-left {
                background-image: url('#{ $bridge-image-center-pointing-left }');
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (max-width: $tablet-width) {
                    background-image: none;
                }
            }
            .form-container {
                height: $form-container-height;
                max-width: $form-container-max-width;
                width: 44%;
                @media screen and (max-width: $tablet-width) {
                    align-self: center;
                    height: 97px;
                    width: 100%;
                }
                .bridge-form {
                    display: flex;
                    flex-direction: column;
                    height: $form-container-height;
                    justify-content: space-evenly;
                    @media screen and (max-width: $tablet-width) {
                        height: auto;
                        width: 100%;
                    }
                    &-controls {
                        @extend %flex-between;
                        background-color: $bridge-textfield-background;
                        border-radius: 5px;
                        padding: 8px 8px 8px 0;

                        @media screen and (max-width: $tablet-width) {
                            background-color: unset;
                            flex-direction: column;
                            padding: 8px 8px 8px 8px;
                        }

                        &-stake {
                          border: 1px solid #E6ECF1;
                          box-sizing: border-box;
                          border-radius: 4px;
                          height: 60px;

                          @media screen and (max-width: $tablet-width) {
                            background-color: unset;
                            flex-direction: column;
                            padding: 0 0 0 0;
                            margin: 0 8px 0 8px;
                            height: 40px;
                          }
                        }
                    }
                    .bridge-form-input-container {
                        display: flex;
                        justify-content: space-between;
                        width: 292px;

                        @media screen and (max-width: $tablet-width) {
                            background-color: rgba(251, 251, 252, 0.2);
                            border-radius: 3px 3px 0 0;
                            width: 100%;
                        }
                    }
                    &-input {
                        background-color: transparent;
                        color: $bridge-textfield-color;
                        font-size: 24px;
                        font-weight: 700;
                        height: $bridge-input-label-line-height;
                        padding-left: 16px;
                        width: 165px;

                        &::placeholder {
                            color: $bridge-textfield-placeholder-color;
                            font-size: 24px;
                            font-weight: 700;

                            @media screen and (max-width: $tablet-width) {
                                font-size: 18px;
                            }
                        }

                        &::placeholder {
                            opacity: 0.3;
                        }
                        @media screen and (max-width: $tablet-width) {
                            font-size: 18px;
                        }
                    }
                    &-label {
                        color: $bridge-input-label-color;
                        font-size: $bridge-input-label-font-size;
                        font-weight: 700;
                        line-height: $bridge-input-label-line-height;
                        margin: $bridge-input-label-margin;
                        text-transform: uppercase;

                        @media screen and (max-width: $tablet-width) {
                            font-size: 18px;
                        }
                    }
                    &-button {
                        background-color: $bridge-button-background-color;
                        border-radius: $bridge-transfer-button-border-radius;
                        color: $bridge-button-text-color;
                        display: block;
                        flex-shrink: 0;
                        font-weight: 700;
                        height: $bridge-transfer-button-height;
                        text-decoration: none;
                        width: $bridge-transfer-button-width;

                        @media screen and (max-width: $tablet-width) {
                            border-radius: $bridge-transfer-button-border-radius;
                            width: 100%;
                        }

                        &:hover {
                            background-color: $button-bridge-form-hover-background-color;
                        }
                    }
                    .bridge-transfer-direction {
                        font-size: 14px;
                        color: $bridge-label-color;
                    }
                }
            }
        }
    }
    .bridge-statistics-container {
        align-self: center;
        margin-top: 60px;

        @media screen and (max-height: 720px) {
            margin-top: 30px;
        }
    }
    .network-details {
        display: flex;
        flex-direction: column;
        min-width: 558px;

        @media screen and (max-width: $tablet-width) {
            min-width: 100%;
        }

        .details-logo-container {
            align-items: center;
            background-color: $modal-background-color;
            border-radius: 10px;
            border-bottom-right-radius: 0;
            display: flex;
            height: 80px;
            justify-content: center;
            width: 85px;

            @media screen and (max-width: $tablet-width) {
                display: none;
            }

            &-stake {
              display: none;
            }
        }

        .details-logo-container:after {
            content: "";
            position: absolute;
            height: 10px;
            width: 20px;
            bottom: 0;

            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-logo-container:after {
            border-radius: 0 0 0 10px;
            box-shadow: -10px 0 0 0 #fff;
            right: 453px;
            top: 70px;

            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-body {
            align-self: flex-end;
            background-color: $modal-background-color;
            border-radius: $network-details-body-border-radius;
            display: flex;
            flex-direction: column;
            height: 254px;
            justify-content: space-between;
            padding: 38px;
            width: 440px;

            &-stake {
              padding: 26px 30px 26px 30px;
              width: 480px;
              height: 380px;
            }

            @media screen and (max-width: $tablet-width) {
                align-self: center;
                border-radius: 10px 10px 10px 10px;
                height: 430px;
                padding: 20px 15px 20px 15px;
                width: 85%;
            }
            @media screen and (max-width: $tablet-width) and (min-width: 415px) {
                height: 300px;
            }
            @media screen and (max-width: 600px) {
                height: $network-details-body-mobile-height;
            }

            .details-data-container {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: $tablet-width) {
                    flex-direction: column;
                }

                .details-label {
                    color: $modal-text-color;
                    font-size: 14px;
                }
                .details-description {
                    color: $modal-link-color;
                    font-size: 14px;

                  &-currency {
                    &-stake {
                      font-weight: normal;
                    }
                  }
                }
                .details-description-black {
                    color: $modal-text-color;
                    font-size: 14px;
                    font-weight: 700;

                    &-stake {
                      font-weight: normal;
                    }
                }
                .details-copy {
                    cursor: pointer;
                }

                .details-title {
                  font-size: 20px;
                  line-height: 23px;
                  font-weight: bold;
                  color: $modal-text-color;
                }

                &-core {
                  display: none;
                }

                &-classic {
                  display: none;
                }
            }
        }
        .details-body:before {
            content: "";
            position: absolute;
            height: 10px;
            width: 20px;
            bottom: 0;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-body:before {
            left: 22px;
            top: 80px;
            border-radius: 0 10px 0 0;
            box-shadow: 10px 0 0 0 #fff;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }

        .details-body-stake:before {
            display: none;
        }
    }
    .transfer-alert {
        background-color: $modal-background-color;
        border-radius: $transfer-alert-border-radius;
        display: flex;
        height: $transfer-alert-height;
        width: $transfer-alert-width;
        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
            height: auto;
            width: 100%;
        }
        .image-container {
            margin-right: 20px;
            width: 166px;

            @media screen and (max-width: $tablet-width) {
                width: 100%;
            }
            .arrows-icon {
                height: 128px;
                margin-left: 42px;
                margin-top: 39px;
                width: 124px;
            }

            &-stake {
              display: none;
            }
        }
        .alert-container {
            display: flex;
            flex-direction: column;
            justify-content: $transfer-alert-container-justify-content;
            padding: $transfer-alert-container-padding;
            width: $transfer-alert-container-width;

            @media screen and (max-width: $tablet-width) {
                padding: 10px 10px;
                width: 94%;
                height: 317px;
            }
            .alert-corner {
                height: 12px;
                width: 10px;
            }
            .transfer-title {
                align-items: center;
                color: $bridge-transfer-title-color;
                display: flex;
                font-size: 14px;
                justify-content: space-between;

                path {
                    fill: $primary-color;
                }

                .alert-logo-box-home-logo {
                    align-items: center;
                    background-color: $primary-color;
                    border-radius: 4px;
                    display: flex;
                    height: 50px;
                    justify-content: center;
                    width: 50px;
                }

                .alert-logo-box-foreign-logo {
                  align-items: center;
                  background-color: $tertiary-color;
                  border-radius: 4px;
                  display: flex;
                  height: 50px;
                  justify-content: center;
                  width: 50px;
                  transform: rotate(45deg);

                  .foreign-logo{
                    transform: rotate(-45deg);
                  }
                }

                &-stake {
                  display: none
                }
            }

            .transfer-title-alternative {
              &-core,
              &-classic {
                display: none;
              }
              &-stake {

                .transfer-title-text {
                  color: $modal-text-color;
                  font-weight: bold;
                  font-size: 20px;
                  line-height: 23px;
                }
                .transfer-operation-container {
                  display: flex;
                  justify-content: center;

                  .transfer-operation-box {
                    width: 180px;
                    height: 60px;
                    border: 1px solid #E6ECF1;
                    box-sizing: border-box;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;

                    .transfer-operation-box-value {
                      font-size: 18px;
                      line-height: 21px;
                    }

                    .transfer-operation-box-network {
                      font-size: 12px;
                      line-height: 14px;
                    }
                  }

                  .transfer-operation-arrow-container {
                    width: 120px;
                    height: 60px;
                    background-image: url('#{ $transfer-operation-arrow-line-image }');
                    background-position: center;
                    background-repeat: no-repeat;

                    .transfer-operation-ellipse {
                      width: 120px;
                      height: 60px;
                      background-image: url('#{ $transfer-operation-arrow-ellipse-image }');
                      background-position: center;
                      background-repeat: no-repeat;

                      .transfer-operation-arrow {
                        width: 113px;
                        height: 60px;
                        background-image: url('#{ $transfer-operation-arrow-image }');
                        background-position: center;
                        background-repeat: no-repeat;
                      }
                    }
                  }
                }
              }
            }

            .transfer-description {
                color: $modal-text-color;
                font-size: 14px;
                line-height: 1.71;
                padding: $transfer-description-padding;
            }
            .transfer-buttons {
                display: flex;
                justify-content: space-between;
                padding: $transfer-buttons-padding;

                .transfer-confirm {
                    background-color: $button-background-color;
                    border-radius: $button-transfer-confirm-border-radius;
                    color: $button-text-color;
                    flex-grow: 1;
                    font-size: $button-transfer-confirm-font-size;
                    line-height: 16px;
                    font-weight: 700;
                    height: $button-transfer-confirm-height;
                    max-width: $button-transfer-confirm-max-width;
                    text-decoration: none;
                    order: $transfer-alert-confirm-button-order;

                    &:hover {
                        background-color: $button-transfer-confirm-hover-background-color;
                    }
                }
                .transfer-cancel {
                    background-color: $button-bordered-background-color;
                    border-radius: $button-transfer-cancel-border-radius;
                    border: $button-transfer-cancel-border;
                    color: $button-bordered-text-color;
                    flex-grow: 1;
                    font-size: $button-transfer-cancel-font-size;
                    line-height: 16px;
                    font-weight: 700;
                    height: $button-transfer-cancel-height;
                    max-width: $button-transfer-cancel-max-width;
                    text-decoration: none;

                    &:hover {
                        opacity: $button-transfer-cancel-hover-opacity;
                        background-color: $button-transfer-cancel-hover-background-color;
                        color: $button-transfer-cancel-hover-text-color;
                    }
                }
            }
        }
    }
}

.noWallet-alert {
    background-color: $modal-background-color;
    border-radius: 10px 8px 8px 10px;
    display: flex;
    height: 380px;
    width: 540px;
    @media screen and (max-width: $small-mobile-width) {
        padding-top: 60px;
    }
    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        width: 92%;
        height: auto;
        margin-left: 4%;
    }
    .noWallet-image-container {
        background-image: linear-gradient(to right, $gradient-color-2, $gradient-color-1);
        border-radius: 8px 0 0 8px;
        width: 150px;
        @media screen and (max-width: $tablet-width) {
            display: none;
        }
        .noWallet-icon {
            margin-top: 0;
            width: 150px;
        }
    }
    .noWallet-alert-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 24px 30px;
        width: 389px;

        @media screen and (max-width: $tablet-width) {
            align-self: center;
            padding: 10px 0;
            width: 88%;
        }
        .noWallet-title {
            color: $modal-title-color;
            font-size: 24px;
            line-height: 1;

            @media screen and (max-width: $tablet-width) {
                font-size: 30px;
                padding-top: 2%;
                padding-bottom: 2%;
            }
        }

        .noWallet-description {
            color: #666;
            font-size: 14px;
            line-height: 1.71;
            padding-bottom: 10px;
            padding-top: 10px;
            @media screen and (max-width: $tablet-width) {
                padding-left: 1%;
                padding-right: 1%;
            }
        }
    }

    .noWallet-buttons {
        column-gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;

        @media screen and (max-width: $mobile-width) {
            grid-template-columns: 1fr;
        }

        .noWallet-metamask {
            background-color: $button-background-color-2;
            border-radius: 3px;
            color: $button-text-color-2;
            line-height: 36px;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: darken($button-background-color-2, 10%);
            }
        }
        .noWallet-niftyWallet {
            background-color: $button-background-color-4;
            border-radius: 3px;
            color: $button-text-color-4;
            line-height: 36px;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: darken($button-background-color-4, 10%);
            }
        }
        .noWallet-alphawallet {
            background-color: $button-background-color-3;
            border-radius: 3px;
            color: $button-text-color-3;
            line-height: 36px;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: darken($button-background-color-3, 10%);
            }
        }
        .noWallet-cancel {
            background-color: $button-bordered-background-color;
            border-radius: 3px;
            border: 1px solid $button-bordered-border-color;
            color: $button-bordered-text-color;
            height: 36px;
            text-decoration: none;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.disclaimer-alert {
    background-color: $modal-background-color;
    border-radius: 8px;
    display: flex;
    padding: 15px 0;
    width: 600px;

    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        margin: 0 auto;
        width: 92%;
    }

    .image-container {
        width: 164px;

        @media screen and (max-width: $tablet-width) {
            display: none;
        }

        .disclaimer-icon {
            height: 173px;
            margin-left: 25px;
            margin-top: 44px;
            width: 117px;
        }
    }
    .alert-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 40px;
        padding-right: 46px;
        padding-top: 40px;
        width: 389px;

        @media screen and (max-width: $tablet-width) {
            align-self: center;
            padding: 10px 0;
            width: 88%;
        }

        .alert-corner {
            height: 12px;
            width: 10px;
        }
        .disclaimer-title {
            color: $modal-title-color;
            font-size: 24px;
            line-height: 1;

            @media screen and (max-width: $tablet-width) {
                font-size: 30px;
                padding-bottom: 2%;
                padding-top: 2%;
            }
        }
        .disclaimer-description {
            color: $modal-text-color;
            font-size: 14px;
            line-height: 1.71;
            padding-bottom: 10px;
            padding-top: 10px;

            @media screen and (max-width: $tablet-width) {
                padding-left: 1%;
                padding-right: 1%;
            }
        }
        .disclaimer-tos {
            color: $modal-text-color;
            padding-left: 5px;
        }
        .disclaimer-link {
            color: $modal-link-color;
        }

        .disclaimer-buttons {
            .disclaimer-confirm {
                background-color: $button-background-color;
                border-radius: 3px;
                color: $button-text-color;
                font-size: 15px;
                font-weight: 700;
                height: 40px;
                text-decoration: none;
                min-width: 100px;

                &:hover {
                    background-color: darken($button-background-color, 10%);
                }
            }
            .disclaimer-confirm-disabled {
                background-color: $button-background-color;
                border-radius: 3px;
                color: $button-text-color;
                cursor: default;
                font-size: 15px;
                font-weight: 700;
                height: 40px;
                opacity: 0.5;
                text-decoration: none;
                min-width: 100px;
            }
        }
    }
}
